body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.newpost-btn {
  background-color: #21ba456e !important;
  color: #fff !important;
  /* position: relative; */
  /* right: 0px; */
  margin: 20px;
  align-self:flex-end;
}

/* ======================================================================= */
                  /* TRADE TABLE */
/* ======================================================================= */
.trade-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #49a09d, #5f2c82) !important;
}
.container table {
  width: 800px;
  margin-bottom: 2rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.container th,
.container td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
/* th {
  text-align: left;
}
thead th {
  background-color: #55608f;
} */
/* onHover row */
/* tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */
/* tbody td {
  position: relative;
} */
/* onHover column */
/* tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
} */
/* ======================================================================= */
                  /* TRADE TABLE 2 w/ 3d onHover */
/* ======================================================================= */

/* h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}
*/

.container th {
	/* font-weight: bold; */
	font-size: 1.2em;
  color: #185875;
}

.container {
  display: table;
  margin: 0 auto;
}

.container td, .container th {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;  
}

/* .container td:first-child { color: #FB667A; } */

.container tr:hover {
  background-color: #124e6696;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #52125f;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

/* ======================================================================= */
                  /* TRADE FORM 1 */
/* ======================================================================= */























/* ======================================================================= */
                  /* NOAUTH PAGE */
/* ======================================================================= */
.noauth-container {
  width: 100vw;
  height: 100vh;
  background: url(http://cdn.magdeleine.co/wp-content/uploads/2014/05/3jPYgeVCTWCMqjtb7Dqi_IMG_8251-1400x933.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
